name: markdown-to-rfc
on: [push]
jobs:
  make-rfc:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3

      - name: "Setup Node"
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: "Setup Python"
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: "Setup Ruby"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true

      - run: sudo npm install cspell@cspell4 -g
      - run: gem install kramdown-rfc2629
      - run: sudo pip install xml2rfc
      - name: "Convert Markdown to RFC" 
        run: make full
      - name: "Archive Built Drafts"
        uses: actions/upload-artifact@v3
        with:
          name: RFC
          path: |
            draft-*.html
            draft-*.txt
  deploy:
    runs-on: ubuntu-latest
    env: 
      CI_COMMIT_MESSAGE: Continuous Integration Build Artifacts
      CI_COMMIT_AUTHOR: Continuous Integration
    needs: make-rfc
    if: github.ref == 'refs/heads/master'
    steps:
      - name: "Checkout gh-pages"
        uses: actions/checkout@v3
        with:
          ref: gh-pages
      - name: "Receive converted documents"
        uses: actions/download-artifact@v3
        with:
          name: "RFC"
      - name: "Deploy to Github Pages"
        shell: "bash"
        run: |
          ls *.html *.txt
          git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
          git add ./\*.txt
          git add ./\*.html
          git commit -a -m "${{ env.CI_COMMIT_MESSAGE }}" && git push
